name: Build Go App

on:
  push:
    branches: [ "main", "master" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows, darwin]
        goarch: [amd64, arm64]
        exclude:
          - goos: windows
            goarch: arm64
    
    steps:
    - uses: actions/checkout@v4

    - name: 设置 Go 环境
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'
        cache: true

    - name: Download Dependencies
      run: |
        go mod tidy
        go get github.com/alibabacloud-go/esa-20240910/v2@master

    - name: 安装 UPX
      run: sudo apt-get update && sudo apt-get install -y upx

    - name: 编译
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
      run: |
        mkdir -p build
        if [ "${{ matrix.goos }}" = "windows" ]; then
          go build -trimpath -ldflags="-s -w" -o build/update_esa-${{ matrix.goos }}-${{ matrix.goarch }}.exe .
        else
          go build -trimpath -ldflags="-s -w" -o build/update_esa-${{ matrix.goos }}-${{ matrix.goarch }} .
        fi
        upx --best --lzma build/*

    - name: 上传构建产物
      uses: actions/upload-artifact@v4
      with:
        name: update_esa-${{ matrix.goos }}-${{ matrix.goarch }}
        path: build/

    - name: 发布 Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: build/*
        generate_release_notes: true
